body {
    background-color: rgb(61, 61, 61);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*Hora de trabajar el header y nav*/

header {
    background-color: rgb(32, 32, 32);
    height: 22vh;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}
.title a{
    text-decoration: none;
}

.title h1 {
    color: white;
    margin: 20px 0 0;
    width: 50%;
    text-align: center;
    font-size: 10vw;
    letter-spacing: 5px;
}
.title h1:hover {
    color: rgb(236, 74, 101);
    font-size: 12vw;
    transition: .4s;
}
.title h1:hover span {
    color: rgb(255, 53, 53);
}
.secciones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 80%;
    margin: 0 auto;
}
.secciones a{
    text-decoration: none;
    color: white;
    background-color: rgb(112, 112, 112);
    padding: 15px;
    font-size: 3.5vw;
    letter-spacing: 3px;
    box-shadow: 5px 5px 5px black;
    font-weight: bold;
}

.enlaceyou:hover {
    padding: 20px;
    transition: .3s;
    background-color: rgb(236, 74, 101);
    color: black;
    box-shadow: 0px 5px 20px black;
}

.enlaceabout:hover {
    padding: 20px;
    transition: .3s;
    background-color: rgb(61, 106, 231);
    color: white;
    box-shadow: 0px 5px 20px black;
}
/*FIN DEL HEADER NAV*/



/*Aqui se trabajara el main*/
.fcs {
    width: 80%;
    margin: 5vh auto 5vh;
    background-image: url('../assets/img/cajitalove.jpg');
    background-size: cover;
    color: rgb(236, 57, 57, 0);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}
.fcs:hover{
    height: 15vh;
    background-image: url('../assets/img/ilys.jpeg');
    background-size: cover;
    color: white;
    transition: .3s;
    box-shadow: 0px 0px 30px rgb(184, 184, 184);
}
.fcs:hover .heart{
    color: red;
}
.fcs:hover .birthday{
    color: rgb(96, 96, 250);
}
.fcs:hover .happy{
    color: rgb(255, 221, 71);
}




.sectionfoto {
    width: 70%;
    height: 20vh;
    margin: 50px  auto 20px;
    display: flex;
    justify-content: center;
}
.sectionfoto img{
    width: 50%;
    height: 90%;
    box-shadow: 0px 0px 13px white;
}
.sectionfoto img:hover{
    width: 57%;
    height: 100%;
    transition: .5s;
    box-shadow: 0px 0px 22px white;
}
.sectiontexto{
    text-align: center;
}
.sectiontexto h2{
    color: rgb(236, 74, 101);
    font-size: 8vw;
}
.sectiontexto p{
    color: white;
    margin: 20px 75px;
    font-size: 5vw;
}





/*YOU*/
#body_you{
    background-image: url('../assets/img/purple4k.jpg');
    ;
}

.cutesth2 {
    height: 8vh;
    width: 50%;
    margin: 30px auto;
    text-align: center;
    box-shadow: 2px 2px 15px black;
    background-color: rgb(68, 68, 68);
    color: rgb(206, 43, 247);
    display: flex;
    align-items: center;
}

.cutesth2:hover{
    background-color: rgb(44, 44, 44);
    color: rgb(240, 51, 83);
    box-shadow: 2px 2px 30px black;
}

.cutesth2 h2{
    margin: 0;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 4vw;
}

/*carrusell*/

.carrusel-container-todo{
    height: 20vh;
    width: 85%;
    margin: 20px auto;
    justify-content: center;
}
.flexcarrusel{
    width: 90%;
    margin: auto;
    height: 20vh;
    display: flex;
    justify-content: center;
}
.card-juegoscat{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
}
.card-juegoscat img{
    width: 85%;
    box-shadow: 0px 0px 8px rgb(68, 0, 65);
}
.cardimg:hover{
    width: 100%;
    transition: .2s;
    box-shadow: 0px 0px 15px rgb(68, 0, 65);
}


/*main Fede(about)*/
#body_fede{
    background-image: url('../assets/img/blue4k.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#mainfede{
    height: 80vh;
}

.fedeh1 {
    background-image: linear-gradient(white, rgb(142, 142, 236));
    color: rgb(85, 25, 163);
    height: 10vh;
    width: 70%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fedeh1 h1{
    margin: 0;
    letter-spacing: 3px;
    font-size: 8vw;
    font-family: 'Lucida Sans';
}
.fedeh1 h1:hover{
    color: rgb(49, 86, 252);
    font-size: 8.5vw;
}
.fedeh1:hover{
    background-color: rgb(40, 96, 252);
}
.fedetexto{
    height: 9vh;
    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.fedetexto p{
    margin: 0;
    font-size: 2.5vw;
    font-weight: bold;
    padding: 15px;
    color: white;
}
.fedetexto p:hover{
    font-size: 3vw;
}

/*Carrusell*/
.carrusel-container-todo1{
    height: 25vh;
    width: 85%;
    margin: 20px auto;
    justify-content: center;
}
.flexcarrusel1{
    width: 90%;
    margin: auto;
    height: 25vh;
    display: flex;
    justify-content: center;
}
.card-juegoscat1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
}
.card-juegoscat1 img{
    width: 85%;
    box-shadow: 0px 0px 8px rgb(24, 1, 66);
}
.cardimg1:hover{
    width: 100%;
    transition: .2s;
    box-shadow: 0px 0px 15px rgb(24, 1, 66);
}

/*AQUI SE TRABAJARA EL FOOTER*/


#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
    color: rgb(236, 74, 101);
    height: 23vw;
}
#footer h5{
    margin: 0;
}
#footer:hover{
    background-image:linear-gradient(rgb(85, 25, 163),rgb(116, 74, 216));
    color: white;
    transition: .7s;
}
#footer .p1{
    font-size: 5vw;
    margin-bottom: 10px;
}
#footer .p2{
    margin-top: 10px;
    font-size: 4vw;
}

/*Media querie*/

@media (min-width:620px){

    /*Index*/
    .sectionfoto {
        width: 70%;
        height: 20vh;
        margin: 50px  auto 20px;
        display: flex;
        justify-content: center;
    }
    .sectionfoto img{
        width: 45%;
        height: 90%;
        box-shadow: 0px 0px 13px white;
    }
    .sectionfoto img:hover{
        width: 50%;
        height: 100%;
        transition: .5s;
        box-shadow: 0px 0px 22px white;
    }

    /*You*/
    .carrusel-container-todo{
        height: 25vh;
    }
    .flexcarrusel{
        height: 25vh;
    }
    
    /*Fede*/
    #mainfede{
        height: 85vh;
    }
    .carrusel-container-todo1{
        height: 29vh;
    }
    .flexcarrusel1{
        height: 29vh;
    }
}


@media (min-width:720px){
    /*Comienzo del header nav*/
    header {
        height: 35vh;
    }
    .title{
        height: 15vh;
    }
    .title h1 {
        font-size: 5vw;
    }
    .title h1:hover {
        font-size: 6vw;
    }
    .secciones {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
        width: 80%;
        margin: 5px auto;
    }
    .secciones a{
        padding: 30px;
        margin: 5vw;
        font-size: 2.2vw;
    }
    .secciones a:hover{
        padding: 35px;
    }
    .enlaceyou:hover {
        padding: 25px;
    }
    .enlaceabout:hover {
        padding: 25px;
    }
    /*Fin del header nav*/

    /*Comienzo del main*/
    .fcs {
        width: 60%;
        height: 20vh;
    }
    .fcs:hover{
        height: 28vh;
    }
    .fcs h1{
        font-size: 4vw;
    }

    .sectionfoto {
        width: 55%;
        height: 60vh;
        margin: 50px  auto 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sectiontexto h2{
        margin-top: 0;
        font-size: 5vw;
    }
    .sectiontexto p{
        color: white;
        width: 50%;
        margin: 0px auto;
        font-size: 3vw;
    }
    .sectionfoto img{
        width: 52%;
        box-shadow: 0px 0px 20px white;
    }
    .sectionfoto img:hover{
        width: 56%;
        transition: .7s;
        box-shadow: 0px 0px 30px white;
    }
    /*Fin del main*/

    /*main YOU*/

    
    .cutesth2 {
        height: 12vh;
        justify-content: center;
    }
    .cutesth2 h2{
        margin: 0;
        font-size: 2.5vw;
    }
    .sectiontexto {
        margin: 100px;
    }
    /*Carrusel you*/
    
    

    .carrusel-container-todo{
        height: 38vh;
        width: 65%;
    }
    .flexcarrusel{
        width: 90%;
        height: 38vh;
    }
    
    .card-juegoscat img{
        width: 70%;
        box-shadow: 0px 0px 20px rgb(68, 0, 65);
    }
    .cardimg:hover{
        width: 75%;
        transition: .2s;
        box-shadow: 0px 0px 27px rgb(68, 0, 65);
    }
    

    /*fin main YOU*/


    /*main Fede*/
    #mainfede{
        height: 150vh;
    }
    .fedeh1 {
        height: 15vh;
        width: 65%;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .fedeh1 h1{
        margin: 0;
        letter-spacing: 3px;
        font-size: 3vw;
    }
    .fedeh1 h1:hover{
        color: rgb(49, 86, 252);
        font-size: 3.5vw;
        transition: .7s;
    }
    .fedeh1:hover{
        background-color: rgb(40, 96, 252);
    }
    .fedetexto{
        height: 9vh;
        width: 50%;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .fedetexto p{
        margin: 0;
        font-size: 1.3vw;
        font-weight: bold;
        padding: 15px;
        color: white;
    }
    .fedetexto p:hover{
        font-size: 1.7vw;
        transition: .9s;
    }

    /*carrusel fede*/

    #mainfede{
        height: 115vh;
    }
    .carrusel-container-todo1{
        height: 42vh;
        width: 65%;
    }
    .flexcarrusel1{
        width: 90%;
        height: 42vh;
    }
    
    .card-juegoscat1 img{
        width: 65%;
        box-shadow: 0px 0px 20px rgb(17, 2, 59);
    }
    .cardimg1:hover{
        width: 70%;
        transition: .2s;
        box-shadow: 0px 0px 30px rgb(17, 2, 59);
    }


    /*fin main Fede*/

    /*Comienzo del footer*/
    #footer{
        height: 12vw;
    }
    #footer .p1{
        margin-top: 20px;
        font-size: 3vw;
        margin-bottom: 10px;
    }
    #footer .p2{
        margin-top: 15px;
        font-size: 2vw;
    }
}
